chat_history.json
GPT-SoVITS-v3lora-20250228
recording.wav
character_config.yaml
tempCodeRunnerFile.*
__pycache__/
*.pyc
conversation.wav
memory_store.json
faiss_index.index
/screenshots
.env
/.venv
output.wav
